@model HRManagement.DTOs.DepartmentDto

@{
    ViewData["Title"] = "Departman Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<form method="post" action="/Admin/Department/Create">
    <div class="mb-3">
        <label for="DepartmentName" class="form-label">Departman Adı</label>
        <input name="DepartmentName" id="DepartmentName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="/Admin/Department/Index" class="btn btn-secondary">Geri Dön</a>
</form>
