@model List<HRManagement.DTOs.DepartmentDto>

@{
    ViewData["Title"] = "Departman Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-3">Departman Listesi</h3>

<a class="btn btn-primary mb-3" href="/Admin/Department/Create">Departman Ekle</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Departman ID</th>
            <th>Departman Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentId</td>
                <td>@item.DepartmentName</td>
                <td>
                    <a class="btn btn-info text-white btn-sm" href="/Admin/Department/Edit/@item.DepartmentId">Düzenle</a>
                    <a class="btn btn-danger btn-sm" href="/Admin/Department/Delete/@item.DepartmentId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
