<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-header text-center py-4">
        <h4 class="fw-bold text-uppercase">Admin Panel</h4>
    </div>
    <ul class="nav flex-column px-2">
        <li class="nav-item">
            <a href="/Admin/Dashboard" class="nav-link">
                <i class="fas fa-user me-2"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/User" class="nav-link">
                <i class="fas fa-user me-2"></i> Users
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Department" class="nav-link">
                <i class="fas fa-building me-2"></i> Departments
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Position" class="nav-link">
                <i class="fas fa-sitemap me-2"></i> Positions
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Event" class="nav-link">
                <i class="fas fa-chart-line me-2"></i> Event
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Reports" class="nav-link">
                <i class="fas fa-chart-line me-2"></i> Reports
            </a>
        </li>
    </ul>
</div>
