@using HRManagement.DTOs
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserDto

@{
    ViewData["Title"] = "Kullanıcı Sil";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h4>Bu kullanıcıyı silmek istediğinizden emin misiniz?</h4>

<dl class="row">
    <dt class="col-sm-2">Ad</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Soyad</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
